@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 3rem -5rem;
}

nav ul li {
  @apply my-2 md:mx-3 md:my-3 lg:my-0 lg:mx-5;
}

nav ul li a {
  @apply transition duration-300 font-medium hover:text-DarkGrayishBlue;
}

#get-started1 {
  @apply hidden text-VeryLightGray font-semibold bg-BrightRed hover:bg-lightBrightRed transition duration-300 px-7 py-3 rounded-full md:block md:mr-5;
}

#get-started {
  @apply text-VeryLightGray font-semibold bg-BrightRed hover:bg-lightBrightRed transition duration-300 px-7 py-3 rounded-full;
}

#get-started-white {
  @apply text-BrightRed font-semibold bg-white hover:text-lightBrightRed transition duration-300 px-7 py-3 rounded-full;
}

#simplify {
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
}

#get-started1:hover,
#get-started:hover,
#get-started-white:hover,
#go:hover {
  box-shadow: black 0px 10px 10px -7px;
}

section div ul li {
  @apply text-white font-semibold my-2 hover:text-BrightRed cursor-pointer transition duration-300 lg:my-0 lg:mb-3;
}

@media (min-width: 768px) {
  body {
    background-size: 700px;
    background-position: 15rem -10rem;
  }
}

@media (min-width: 967px) {
  #simplify {
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-size: cover;
  }

  section div ul li {
    width: 6.3rem;
  }

  body {
    background-size: 800px;
    background-position: 35rem -15rem;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 900;
    background-position: 55rem -15%;
  }
}

#nav-bar.active {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#socIcon i {
  @apply text-4xl cursor-pointer text-VeryLightGray hover:text-BrightRed transition duration-300;
}
